body {
	margin: 0;
	padding: 0;
}
.itemList {
	margin: auto;
	padding: 0; 
	width: 720px;
	border: 1px solid black;
}
.item {
	display: flex;
	border-bottom: 1px solid black;
}
.status, .ticker, .currency, .payment {
	width: 15%;
}
.showName {
	width: 40%;
}