body {
	margin: 0;
	padding: 0;

	background-color: #AFEEEE;
}

.appHeader {
	background-color: #AFEEEE;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
.results {
	list-style: none;
	padding: 0;
	width: 800px;
}
.results__item {
	display: flex;
	height: 25px;
	border-bottom: 1px solid blue;
}
.results__item div {
	width: 20%;
	text-align: center;
	padding-top: 5px;
}

.searchForm {
	display: flex;
	margin: auto;
	width: 200px;
}
.search {
	margin: auto;
	line-height: 40px;
	background-color: #AFEEEE;
	border: none;
	border-bottom: 2px solid blue;
	outline: none;
}
.buttons button {
	line-height: 40px;
	background-color: #AFEEEE;
	border: 1px solid #AFEEEE;
	outline: none;
}
.main {
	background-color: #AFEEEE;
	margin-top: 10px;
}
.inputs {
	display: flex;
}
.inputs form, .inputs p {
	margin-left: 10px;
	line-height: 40px;
}
.stonks {
	padding: 0;
}
.forTicker {
	list-style: none;
}
.itemList {
	background-color: #ADD8E6;
	margin: auto;
	padding: 0; 
	width: 1100px;
	border: 1px solid black;
}
.item {
	line-height: 40px;
	display: flex;
	border-bottom: 1px solid black;
}
.quantity, .comiss, .price, .payment, .operationType {
	width: 10%;
}
.date {
	padding-left: 15px;
	width: 20%;
}
.active {
	border: 1px solid black !important;
}
.text {
	margin: 0;
}
.textGreen {
	color: green;
}
.textRed {
	color: red;
}
.FORM {
	margin: auto;
	margin-top: 100px;
	width: 500px;
}
.FORM input {
	width: 500px;
	line-height: 50px;
}
.forTicker {
	margin: auto;
	width: 1100px;
}
.forTicker div {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}
.forTicker div p {
	margin : 0;
	margin-top: 3px;
}
.close {
	margin: 0;
	height: 25px;
	width: 25px;
	margin-right: 10px;
	background-color: #AFEEEE;
	outline: none;
	border: 2px solid #AFEEEE;
}
.close:hover {
	border: 2px solid black;
}

