body {
	margin: 0;
	padding: 0;
}
.itemList {
	margin: auto;
	padding: 0; 
	width: 1100px;
	border: 1px solid black;
}
.item {
	display: flex;
	border-bottom: 1px solid black;
}
.status, .ticker, .currency, .payment, .operationType {
	width: 10%;
}
.showName {
	width: 20%;
}
.date {
	width: 30%;
}